* {
  padding: 0;
  margin: 0;
}

#app {
  background: url('https://cn.bing.com/az/hprichbg/rb/MudstoneBadlands_ZH-CN9863836503_1920x1080.jpg');
  background-position: center center;
  background-size: cover;
  height: 100vh;
  padding-top: 40vh;
  box-sizing: border-box;
}

#keyboardOutter {
  text-align: center;
  min-width: 1000px;
}

#keyboard {
  display: inline-block;
  text-align: left;
  font-size:1rem;
}

#keyboard .keyRow {
  display: inline-block;
  /*margin-bottom: 20px;*/
}


/*#keyboard .keyRow::after{
    content: ' ';
    display: block;
    height: 3px;
    width: 100%;
}*/

#keyboard kbd {
  display: block;
  float: left;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  text-align: center;
  text-transform: capitalize;
  width: 3em;
  height: 3em;
  line-height: 3em;
  font-size: 1em;
  background-color: #111;
  color: #fff;
  border-radius: 0.5em;
  margin: 0.2em;
  border: 0px solid #555;
  border-bottom-width: 0.2em;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.7);
  box-sizing: content-box;
  position: relative;
}

@media (min-width:1200px) {
  #keyboard kbd {
    font-size: 1em;
  }
}

@media (min-width:1400px) {
  #keyboard kbd {
    font-size: 1.2em;
  }
}

@media (min-width:1700px) {
  #keyboard kbd {
    font-size: 1.5em;
  }
}

@media (min-width:2200px) {
  #keyboard kbd {
    font-size: 1.8em;
  }
}

#keyboard kbd:active {
  top: 0.1em;
  border-bottom-width: 0.1em;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.3);
}

#keyboard kbd .favicon {
  position: absolute;
  width: 0.8em;
  left: 0.4em;
  bottom: 0.4em;
}

#keyboard kbd button.editButton {
  font-size: 0.8em;
  display: none;
  position: absolute;
  bottom: 0;
  right: 0.5em;
  height: 1.5em;
  width: 1.5em;
  border-radius: 0.2em;
  border: 1px solid transparent;
  background-color: #ccc;
}

#keyboard kbd:hover button.editButton {
  display: block;
  animation: fade-in;
  animation-duration: 0.2s;
  /*动画持续时间*/
}

#keyboard kbd.letter {
  line-height: 2em;
}

#keyboard kbd.tab {
  width: 4.7em;
}

#keyboard kbd.caps {
  width: 5.9em;
}

#keyboard kbd.shift {
  width: 7.6em;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  /*初始状态 透明度为0*/
  50% {
    opacity: 0;
  }
  /*过渡状态 透明度为0*/
  100% {
    opacity: 1;
  }
  /*结束状态 透明度为1*/
}