* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.editor {
    overflow-y: auto;
}

@font-face {
    font-family: iosevka;
    src: url('iosevka-slab-regular.woff');
}

.token.punctuation,
.token.property,
.token.selector,
.token.comment {
    color: inherit;
}