html {
    background-color: #312E2E;
}

body{
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

nav.topBar {
    padding: 20px 42px;
    padding-right: 300px;
}

.logo {
    font-size: 28px;
    font-variant: none;
    /*font-family: "";*/
    font-weight: 900;
    color: #9A9DA2;
    /*padding: 10px 0;*/
    float: left;
    line-height: 50px;
}

.logo .RS {
    color: #e6686a;
    margin-right: 4px;
}

ul.topNav {
    float: right;
    list-style: none;
    color: #FFF;
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    margin: 0;
    padding-top:6px;
}

ul.topNav li {
    width: auto;
    float: left;
    position: relative;
    margin-left:30px;
    font-size: 13px;
    line-height: 37px;
}

ul.topNav li a {
    color: inherit;
    padding: 10px 0;
}

ul.topNav li:hover a {
    border-bottom: 3px solid #F77;
}

.clearfix::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}