.slideBox {
    width: 505px;
    height: 281px;
    position: relative;
    overflow: hidden;
}

.slideBox .slideItem {
    display: none;
    position: absolute;
    transition: all 1s;
    top: 100%;
    left: 0;
}

.slideBox .slideItem.current {
    display: block;
    top: 0;
    left: 0;
}

.slideBox .slideItem.prev {
    display: block;
    top: 0;
    left: -100%;
}

.slideBox .slideItem.next {
    display: block;
    top: 0;
    left: 100%;
}

.slideBox .iconfont {
    position: absolute;
    display: inline-block;
    top: 50%;
    margin-top: -10em;
    line-height: 20em;
    left: auto;
    right: auto;
    font-size: 20px;
    color: rgba(32, 32, 32, 0.7);
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.slideBox .icon-next {
    right: 0;
}

.slideBox .icon-prev {
    left: 0;
}